<div class="jumbotron">
  <h1>Getty Images API test</h1>
  <p class="lead">
    {{dailyMailGettyImagesList.result_count}}: image results

  </p>
  <p>
    First Image ID: {{getImage}}
  <!-- <p ng-repeat="object in dailyMailGettyImagesList.images track by $index">{{object.id}}</p> -->
</div>

<div class="row marketing">

  <p ng-if="loading">Loading...</p>

  <div>
    <h4>Image thumbnails</h4>
    <p ng-repeat="object in dailyMailGettyImagesList.images track by $index">
      {{object.id}}
      <img ng-src="{{object.display_sizes[0].uri}}" alt="" >
    </p>

    
  </div>

  <!-- <div ng-if="error" class="alert alert-danger">
    <strong>{{error.statusText}}</strong>
    <hr>
    <p>{{error.description}}</p>
  </div> -->

</div>
